.list {
    display: flex;
    gap: 50px;
    align-items: center;
    font: var(--font-nav);
    font-size: 1rem;
}

.archive {
    font: var(--font-nav-strong);
    font-size: 1rem;
}

.active {
    color: var(--blue-700);
}