.section {
}

.title {
    font: var(--font-h1);
    margin-bottom: 2rem;
}

.profile {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text {
    font: var(--font-body1);
    font-size: 1.5rem;
    color: var(--gray-700);
}

.textSmall {
    font: var(--font-body1);
    font-size: 1.0rem;
    color: var(--gray-500);
}

.textBig {
    font: var(--font-body1);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--gray-900);
}

.profileImage {
    flex-shrink: 0;
    border-radius: var(--radius-lg);
    overflow: hidden;
}

@media (max-width: 720px) {
    .profile {
        flex-direction: column-reverse;
    }
}