.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    min-height: var(--footer-height);
    box-sizing: border-box;
    background-color: var(--gray-100);
    text-align: center;
    padding: 32px;
}

.text {
    color: var(--gray-500);
    font: var(--font-small)
}